@using Dhgms.DPVreony.Website.Queries
<main>
    <h1>My Resume</h1>
    @Html.Partial("_resume_experience")
    @Html.Partial("_resume_education")
    @Html.Partial("_resume_skills")
    @Html.Partial("_resume_projects")
</main>
