layout: _layout
---
<h1>Cookie Policy</h1>
<ul>
    <li>This site uses cookies for tracking performance and reliability using <a href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview">Azure Application Insights</a>.</li>
    <li>This site does not use any advertising or marketing analysis tools.</li>
    <li>This site does not offer a login mechanism so no personally identifiable information is stored.</li>
</ul>
