<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_head")
<body>
    <!-- Navigation -->
    @await Html.PartialAsync("_navigation")
    <!-- Page Header -->
    @await Html.PartialAsync("_header")
    <!-- Main Content -->
    <div class="container-fluid">
        <div class="row">
            <div id="content" class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    @await Html.PartialAsync("_footer")
    @await Html.PartialAsync("_scripts")
    @await RenderSectionAsync("Scripts", false)
<!-- Bootstrap core JavaScript -->
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
