<main>
<h1>Open Source</h1>
<p>I'm the author of some small open source tools that are aimed at improving processes. I also contribute to the ReactiveUI project (primarily in Splat) to aid with the use of the MVVM pattern within the .NET ecosystem.</p>
<h2>Projects I contribute to:</h2>
<div class="row mt-2">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
            <h3>ReactiveUI</h3>
            </div>
            <div class="card-body">
			<img alt="ReactiveUI Logo" src="reactiveui-logo.png" height="64px" />
            <p class="card-text">ReactiveUI is an MVVM framework for .NET powered by Reactive Extensions.</p>
            <a href="https://github.com/reactiveui/reactiveui" class="btn btn-primary">Github</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
            <h3>Splat</h3>
            </div>
            <div class="card-body">
			<img alt="Splat Logo" src="splat-logo.png" height="64px" />
            <p class="card-text">Splat is a helper library for assisting in cross platform UI development on .NET that sits underneath ReactiveUI.</p>
            <a href="https://github.com/reactiveui/splat" class="btn btn-primary">Github</a>
            </div>
        </div>
    </div>
</div>

<h2>My Projects</h2>

<div class="row mt-2">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h3>Gripe With Roslyn</h3>
          </div>
          <div class="card-body">
            <p class="card-text">A series of Roslyn analyzers aimed at mitigating issues experienced during software development. Whilst its an oppionated project it is a good example of how you can use Roslyn Analysis to encourage conformance within development processes.</p>
            <a href="#" class="btn btn-primary">Github</a>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h3>Nucleotide</h3>
          </div>
          <div class="card-body">
            <p class="card-text">A code generation toolkit aimed at reducing the amount of time developers spend involved in boiler plate code by generating the code from DSL models. This allows developers to spend their time on more useful contributions.</p>
            <a href="#" class="btn btn-primary">Github</a>
          </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h3>Quality Assurance Pack</h3>
          </div>
          <div class="card-body">
            <p class="card-text">A simple nuget package that references a series of nuget packages that can be used by a team to encourage conformance to development processes.</p>
            <a href="#" class="btn btn-primary">Github</a>
          </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <h3>WSUS Smart Approve</h3>
          </div>
          <div class="card-body">
            <p class="card-text">A tool for automating approvals of Windows Updates. It's aimed at avoiding unecessary downloads and the ability to automate when approvals take place for different target groups.</p>
            <a href="#" class="btn btn-primary">Github</a>
          </div>
        </div>
    </div>
</div>

<!--
Requirements
Develop
* Nucleotide
* Whipstaff
* ReactiveUI
* Splat
Analyze
* Gripe with Roslyn
* Quality Assurance Pack
Build
Test
* Net Test Regimentation
Document
* Architecture Design Reasoning (ADR)
Build Verification
Package Artifacts
Deploy
Deployment Verification

Tools
* WSUS Smart Approve
Education\Research Tools
* Echo Web Service
-->
</main>