@using DPVreony.Website.Features.OpenSource
@{
    var partialViewName = "_opensource_item";

    var designingApmInSplatArticle = new InvolvementModel(
"Article: Designing APM in Splat",
"Details on the design reasoning and motivations behind adding Application Performance Monitoring capabilities into Splat.",
null,
null);

    var designingNucleotideArticle = new InvolvementModel(
        "Article: Designing Nucleotide",
        "Details on the objectives, motivation and design reasoning on producing Nucleotide for Source Code Generation.",
        null,
        null);

    var designingVetuviemArticle = new InvolvementModel(
        "Article: Designing Vetuviem",
        "Information of the Source Code Generation project aimed at giving options for re-usuable View to ViewModel binding logic in ReactiveUI.",
        null,
        null);

    var usingStatiqAndMermaidArticle = new InvolvementModel(
        "Article: Using Statiq and Mermaid Diagrams",
        "Details on how to set up a build pipeline to utilize Mermaid Diagrams inside a Statiq website.",
        null,
        null);

    var nucleotideProject = new InvolvementModel(
        "Nucleotide",
        "A code generation toolkit aimed at reducing the amount of time developers spend involved in boiler plate code by generating the code from DSL models. This allows developers to spend their time on more useful contributions.",
        null,
        null);

    var whipstaffProject = new InvolvementModel(
        "Whipstaff",
        "Whipstaff is a collection of utilities to reduce overhead on developing .NET solutions. It's acts as a middleware glue for combining other packages and frameworks. Some ideas incubate in here until they are fed back into the original project they relate to.",
        null,
        null);

    var reactiveUiProject = new InvolvementModel(
        "ReactiveUI",
        "ReactiveUI is an MVVM framework for .NET powered by Reactive Extensions.",
        null,
        null);

    var splatProject = new InvolvementModel(
        "Splat",
        "Splat is a helper library for assisting in cross platform UI development on .NET that sits underneath ReactiveUI.",
        null,
        null);
}
<main>
<h1>Open Source</h1>
<p>I'm the author of some small open source tools that are aimed at improving processes. I also contribute to the ReactiveUI project (primarily in Splat) to aid with the use of the MVVM pattern within the .NET ecosystem.</p>
<div>
    <h2>ALM Projects, Research and Articles</h2>
    <div class="row" style="background-color: #98DDCA">
        <h3>Requirements</h3>
        <div class="row mt-2">
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, designingApmInSplatArticle)
            </div>
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, designingNucleotideArticle)
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, designingVetuviemArticle)
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #D5ECC2">
        <h3>Documentation</h3>
        <div class="row mt-2">
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, usingStatiqAndMermaidArticle)
            </div>
            <div class="col-sm-6">
            </div>
        </div>

    </div>
    <div class="row" style="background-color: #FFD3B4">
        <h3>Develop</h3>
        <div class="row mt-2">
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, nucleotideProject)
            </div>
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, whipstaffProject)
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, reactiveUiProject)
            </div>
            <div class="col-sm-6">
                @await Html.PartialAsync(partialViewName, splatProject)
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6">
                <div>
                    <div>
                        <h3>Vetuviem</h3>
                    </div>
                    <div>
                        <p class="card-text">Vetuviem is an extension for ReactiveUI to aid in producing re-usable View to ViewModel binding logic. It generates source code around control libraries to provide a DSL model that can be combined with helper methods to allow teams to have a standard codebase of common binding behaviours.</p>
                        <a href="https://github.com/dpvreony/vetuviem" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #FFAAA7">
        <h3>Analyze</h3>
        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Gripe With Roslyn</h3>
                    </div>
                    <div>
                        <p class="card-text">A series of Roslyn analyzers aimed at mitigating issues experienced during software development. Whilst its an oppionated project it is a good example of how you can use Roslyn Analysis to encourage conformance within development processes.</p>
                        <a href="#" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Quality Assurance Pack</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">A simple nuget package that references a series of nuget packages that can be used by a team to encourage conformance to development processes.</p>
                        <a href="#" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #beebe9">
        <h3>Build</h3>
    </div>
    <div class="row" style="background-color: #f4dada">
        <h3>Build Verification</h3>
        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Net Test Regimentation</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">A library built on top of XUnit to help produce re-usable test logic and a defined structure for the type of tests carried out on classes and methods.</p>
                        <a href="#" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #bdd2b6">
        <h3>Package Artifacts</h3>
    </div>
    <div class="row" style="background-color: #a58faa">
        <h3>Deploy</h3>
    </div>
    <div class="row" style="background-color: #f6eec7">
        <h3>Deployment Verification</h3>
    </div>


        <div class="row mt-2">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>Quality Assurance Pack</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">A simple nuget package that references a series of nuget packages that can be used by a team to encourage conformance to development processes.</p>
                        <a href="#" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h3>WSUS Smart Approve</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">A tool for automating approvals of Windows Updates. It's aimed at avoiding unecessary downloads and the ability to automate when approvals take place for different target groups.</p>
                        <a href="#" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
        </div>

        <!--
        Requirements
        Develop
        * Nucleotide
        * Whipstaff
        * ReactiveUI
        * Splat
        Analyze
        * Gripe with Roslyn
        * Quality Assurance Pack
        Build
        Test
        * Net Test Regimentation
        Document
        * Architecture Design Reasoning (ADR)
        Build Verification
        Package Artifacts
        Deploy
        Deployment Verification

        Tools
        * WSUS Smart Approve
        Education\Research Tools
        * Echo Web Service
        -->
    </div>
</main>
