#experience {
    padding-top: 15px;
    border-bottom: 1px solid #dcd9d9
}

#experience h2 {
    color: #374054
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #3498db;
    z-index: 0
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #3498db;
    background: -webkit-linear-gradient(top, #3498db, rgba(52,152,219,0));
    background: linear-gradient(to bottom, #3498db, rgba(52,152,219,0));
    top: 100%;
    left: 303px
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: 1px solid #e6e6e6;
    padding: 15px;
    border-radius: 3px;
    text-align: left
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0
}

.vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054
}

#education {
    padding: 50px 15px 20px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center
}

#education h2 {
    color: #374054;
    margin-bottom: 50px
}

.education-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dcd9d9;
    text-align: left
}

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054
}

.education-block span {
    color: #74808a;
    float: right
}

.education-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.education-block p, .education-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em
}

.education-block ul {
    padding: 0 0 0 15px
}

#projects {
    padding: 50px 15px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center
}

#projects h2 {
    color: #374054;
    margin-bottom: 50px
}

.project {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px
}

.project-image {
    float: left
}

.project-info {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 300px;
    padding: 15px
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    margin: 0 0 15px 0
}

.project-info p {
    color: #74808a;
    margin: 0 0 15px 0;
    font-size: 0.9em
}

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #374054;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em
}
