Title: My Résumé
---
@using Dhgms.DPVreony.Website.Queries
@using Statiq.Common
@{
    const string title = "My Résumé";
}
<main>
    <h1>@title</h1>
    @await Html.PartialAsync("_resume_experience")
    @await Html.PartialAsync("_resume_education")
    @await Html.PartialAsync("_resume_skills")
    @*@Html.Partial("_resume_projects")*@
</main>
