
name: Build website

on:
  push:
    branches: [ main ]
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [ main ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest
    outputs:
      nbgv: ${{ steps.nbgv.outputs.SemVer2 }}
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      DOTNET_NOLOGO: true
      DOTNET_GENERATE_ASPNET_CERTIFICATE: false
      solutionpath: src\DPVreony.Website.sln
      
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - name: Verify the ref context
      run: echo 'Ref Context is ${{ github.ref }}'

    - name: Verify the head ref context
      run: echo 'Head Ref Context is ${{ github.head_ref }}'

    - name: Install .NET 8
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x

    - name: NPM package restore
      run: |
        pushd src\dpvreony.website\
        npm install
        popd

#    - name: NPM outdated check
#      run: |
#        pushd src\dpvreony.website\
#        npm outdated
#        popd

    - name: Restore Packages
      run: |
        dotnet restore ${{ env.solutionpath }} /bl:artifacts\\binlog\\restore.binlog
        
    - name: Build Statiq
      run: |
        dotnet build ${{ env.solutionpath }} --configuration Release --no-restore /bl:artifacts\\binlog\\build.binlog /p:ContinuousIntegrationBuild=true

    - name: Install Playwright
      working-directory: src/dpvreony.website/bin/Release/net8.0
      shell: pwsh
      run: .\playwright.ps1 install

    - name: Build Website
      working-directory: src/dpvreony.website
      run: |
        dotnet run -c Release

    - name: store binlogs
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: binlogs
        path: artifacts/binlog
        
    - name: store website
      uses: actions/upload-pages-artifact@v4
      with:
        path: src/dpvreony.website/output

  # Deployment job
  deploy:
    if: ${{ always() && format('refs/heads/{0}', github.event.repository.default_branch) == github.ref && github.head_ref == '' }}
    permissions:
      contents: read
      pages: write
      id-token: write
      actions: read
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    concurrency:
      group: pages
      cancel-in-progress: false
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4        
        
