@import "../vendor/bootstrap/scss/functions.scss";
@import "../vendor/bootstrap/scss/variables.scss";
@import "../vendor/bootstrap/scss/mixins.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";
@import "extras.scss";
@import "overrides.scss";

@font-face {
    font-family: 'logobloqo2regular';
    src: url('/fonts/logobloqo2-webfont.eot');
    src: url('/fonts/logobloqo2-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/logobloqo2-webfont.woff') format('woff'), url('/fonts/logobloqo2-webfont.ttf') format('truetype'), url('/fonts/logobloqo2-webfont.svg#logobloqo2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

main {
    padding-top: 1em;
    font-family: sans-serif;
}

header h1 {
    font-family: logobloqo2regular;
    font-size: 4em;
}

header h1 span.headerInitialD, div.disclaimer {
    color: #c52a2a;
}

header h1 span.headerInitialP {
    color: #9BBB59;
}

header h1 span.headerInitialV {
    color: #4BACC6;
}

p.card-text {
    height: 7em;
}

.navbar-brand {
    visibility: collapse;
}
